%dark_bg{
  background-color: #222;
}

%light_bg{
  background-color: #fff;
}

%dark_color{
  color: #fff;
}

%light_color{
  color: #222;
}

%light_bg_main{
  background-color: #fff;
}

%dark_bg_main{
  background-color: #5c5c5c;
}