%main_box{
  display: block;
  height: 100%;
  padding: 20px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

%dark_bg{
  background-color: #222;
}

%light_bg{
  background-color: #c3c3c3;
}

%dark_color{
  color: #fff;
}

%light_color{
  color: #222;
}

%light_bg_main{
  background-color: #efefef;
}

%dark_bg_main{
  background-color: #5c5c5c;
}

