@import "../../../common/styles/template";

.main {
  &_input_search {
    display: block;

    max-width: 400px;
    width: 100%;

    padding: 15px;
    margin-left: auto;
    border: none;
    border-radius: 3px;

    outline: none;

    font-weight: 500;
    font-size: 22px;
    line-height: 1.2em;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 20px;
  }
  &_item {
    flex-basis: 390px;

    border-radius: 3px;
    margin-bottom: 20px;
  }

  &_box_img {
    width: 90%;
    height: 220px;

    margin: 20px auto;
  }

  &_img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &_box_info {
    position: relative;
    margin: 0 20px 20px;
  }

  &_name,
  &_capital,
  &_region,
  &_population,
  &_checkbox_label {
    margin-bottom: 2px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.2em;
  }

  &_capital span,
  &_region span,
  &_population span {
    font-weight: 700;
    border-bottom: 2px solid;
  }

  &_name {
    min-height: 65px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  &_checkbox_label {
    content: "";
    position: relative;

    padding-right: 30px;

    cursor: pointer;

    &::after, &::before{
      content: '';
      position: absolute;

      border-radius: 3px;
    }

    &::after {
      width: 25px;
      height: 25px;

      top: 3px;
      right: 0;

      background-color: #fff;
    }
  }

  &_checkbox {
    display: none;
    &:checked + &_label::before{
      width: 17px;
      height: 17px;

      z-index: 99;

      top: 7px;
      right: 4px;

      background-color: #222
    }
  }

  &_btn_remove{
    position: absolute;
    bottom: -3px;
    right: 0;

    padding: 5px 15px;
    border: none;
    border-radius: 3px;

    font-weight: 700;
    font-size: 18px;
  }
}

.light_bg {
  @extend %light_bg;
}

.dark_bg {
  @extend %dark_bg;
}

.light_color {
  @extend %light_color;
}

.dark_color {
  @extend %dark_color;
}

.light_border_color {
  @extend %light_border_color;
}

.dark_border_color {
  @extend %dark_border_color;
}
